<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <p style="color:red">@Model.error_description</p>
        <p>
            <a target="_top" href="@Model.facebook_login_url">Click here to try again.</a>
        </p>
    </div>
</body>
</html>