<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <a target="_top" href='@Model/feed'>click here to see my feed (multiple requests)</a> <br/>
        <a target="_top" href='@Model/feed/batch'>click here to see my feed (batch requests)</a> <br/>
    </div>
</body>
</html>