<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <a href='@Url.Content("~/")'>Home</a>
        <p style="color:red">@Model.ErrorDescription</p>
    </div>
</body>
</html>